<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B.Tech in Computer Science&nbsp;&nbsp;<span><small><em>66.2%</em></small></span></h1>
            <span>Univeristy Teaching Department</span>
            <span><address>RTU, Kota</address><time>2013 to 2017</time></span>
        </header>
        <!--<p>
            <em>Thesis:</em>
        </p>-->
    </article>
    <!-- Thanks to Biomadeira for providing such a wonderful theme https://github.com/biomadeira/vitae -->
    <article>
        <header>
            <h1>12th Standard&nbsp;&nbsp;<span><small><em>68%</em></small></span></h1>
            <span>CBSE</span>
            <span><address>Kota, Rajasthan</address><time>2011 to 2012</time></span>
        </header>
    </article>

    <article>
        <header>
            <h1>10th Standard&nbsp;&nbsp;<span><small><em>8.4/10</em></small></span></h1>
            <span>CBSE</span>
            <span><address>Kota, Rajasthan</address><time>2009 to 2010</time></span>
        </header>
    </article>

</section>
