<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>Twitter Clone</h1>
            <span><b>Keywords:</b>&nbsp; Ruby on Rails, Bootstrap(Twitter), Git, REST, CRUD, TDD, Heroku, Google Chrome Dev Tools.</span>
        </header>
        <p>Developed Twitter clone in TDD environment with the partial functionality as of Twitter.</p>
        <p>Deployed on Heroku(PaaS) using Ruby Environment. Functionalities included:- </p>
        <ul>
            <li>User Authorization</li>
            <li>Comments</li>
            <li>Feed</li>
            <li>Votes</li>
            <li>Follow</li>
        </ul>
        
    </article>
    <article>
        <header>
            <h1>Reddit Clone</h1>
            <span><b>Keywords:</b>&nbsp; Ruby on Rails, Bootstrap(Twitter), Git, Google Chrome Dev Tools.</span>
        </header>
        <p>Developed reddit clone to put into effect user model. Added revision control.</p>
        <p>Functionalities included:-</p>
        <ul>
            <li>Comments</li>
            <li>Feed</li>
            <li>Votes</li>
            <li>Follow</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Apna Book Bazaar</h1>
            <span><b>Keywords: </b>WordPress, WooCommerce, Bootstrap(Twitter), CSS, HTML, Google Chrome Dev Tools.
</span>
        </header>
        <p>Developed an e-commerce solution with WordPress. Used plugins and Google API's for SEO and analytics.
</p>
    </article>
    <article>
        <header>
            <h1>Portfolio Websites *
</h1>
            <span><b>Keywords:</b> WordPress, HTML5, CSS, Bootstrap</span>
        </header>
    </article>
</section>
