<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>Twitter Clone</h1>
            <span><b>Keywords:</b>&nbsp; Ruby on Rails, Bootstrap(Twitter), Sass, Git, REST, CRUD, TDD, Heroku, Google Chrome Dev Tools.</span>
        </header>
        <p>A twitter clone was developed in TDD with the partial functionality as of Twitter. User Authorization was implemented. It was deployed on Heroku(PaaS) using Ruby Environment.</p>
    </article>
    <article>
        <header>
            <h1>Reddit Clone</h1>
            <span><b>Keywords:</b>&nbsp; Ruby on Rails, Bootstrap(Twitter), Sass, Git, Google Chrome Dev Tools.</span>
        </header>
        <p>A reddit clone was developed for implementing user model. Revision Control System was implemented.</p>
    </article>
    <article>
        <header>
            <h1>Apna Book Bazaar</h1>
            <span><b>Keywords: </b>WordPress, WooCommerce, Bootstrap(Twitter), CSS, HTML, Google Chrome Dev Tools.
</span>
        </header>
        <p>A simple E-commerce solution was developed with WordPress. SEO was implemented. Analytics was implemented using Google APIs.
</p>
    </article>
    <article>
        <header>
            <h1>Portfolio Websites *
</h1>
            <span><b>Keywords:</b> WordPress, HTML5, CSS, Bootstrap</span>
        </header>
    </article>
</section>
