<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Microsoft Student Partner </h1>
            <span><time>2015 - Current</time></span>
        </header>
        <p>
            
        </p>
    </article>
    <article>
        <header>
            <h1>Microsoft Student Ambassador</h1>
            <span><time>2014 - 2015</time></span>
        </header>
        <p>
            Marketing Evangelist.
        </p>
    </article>
    <article>
        <header>
            <h1>Coordinator</h1>
            <span><time>2014</time></span>
        </header>
        <p>
            General Management, Student Cultural Forum, RTU, Kota
        </p>
    </article>
    <article>
        <header>
            <h1>Volunteer</h1>
        </header>
        <p>
            Blood Donation Camp, RTU, Kota
        </p>
    </article>
</section>